[submodule "awesome-compose"]
	path = awesome-compose
	url = https://github.com/docker/awesome-compose
[submodule "dockerfiles"]
	path = dockerfiles
	url = https://github.com/patzm/dockerfiles
[submodule "playground"]
	path = playground
	url = https://github.com/luisaveiro/playground
[submodule "custom/AutoFlux"]
	path = custom/AutoFlux
	url = https://github.com/arjunprakash027/AutoFlux
[submodule "docker-templates"]
	path = docker-templates
	url = https://github.com/devopshobbies/docker-templates.git
